@page
@model MilkBabyRazorWebApp.Pages.ProductsPage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<style>
    /* General Styles */
    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        color: #333;
    }

    h1 {
        text-align: center;
        margin-bottom: 30px;
    }

    /* Details Container */
    .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }

    .col-sm-2, .col-sm-10 {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }

    @@media (min-width: 576px) {
        .col-sm-2 {
            flex: 0 0 16.666667%;
            max-width: 16.666667%;
        }

        .col-sm-10 {
            flex: 0 0 83.333333%;
            max-width: 83.333333%;
        }
    }

    /* Link Styles */
    a {
        color: #007bff;
        text-decoration: none;
    }

        a:hover {
            color: #0056b3;
            text-decoration: underline;
        }

    /* Button Container */
    .button-container {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    /* Back to List Button */
    .back-to-list {
        display: inline-flex;
        align-items: center;
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .back-to-list:hover {
            background-color: #0056b3;
        }

        .back-to-list i {
            margin-right: 5px;
        }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductQuantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductQuantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductDateStart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductDateStart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductDateEnd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductDateEnd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductCategory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductCategory)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductImg)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductImg)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductWeight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductWeight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductDimensions)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductDimensions)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductCreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductCreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductUpdatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductUpdatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Vendor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Vendor.VendorName)
        </dd>
    </dl>
</div>
<div class="button-container">
    <a asp-page="./Edit" asp-route-id="@Model.Product.ProductId">Edit</a>
    <a asp-page="./Index" class="back-to-list">Back to List</a>
</div>