@page
@model MilkBabyRazorWebApp.Pages.OrderItemPage.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OrderItem</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderItem.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderItem.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderItem.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderItem.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderItem.Discount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderItem.Discount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderItem.Tax)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderItem.Tax)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderItem.TotalPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderItem.TotalPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderItem.OrderItemCreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderItem.OrderItemCreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderItem.OrderItemUpdatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderItem.OrderItemUpdatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderItem.Order)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderItem.Order.OrderId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderItem.Product)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderItem.Product.ProductName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="OrderItem.OrderItemId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
