@page
@model MilkBabyRazorWebApp.Pages.OrderItemPage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="d-flex justify-content-between align-items-center mb-3">
    <a asp-page="Create" class="btn btn-success">Create New</a>
    <form method="get" class="d-flex align-items-center">
        <input class="form-control mr-2" type="search" placeholder="Product Name" aria-label="ProductName" name="SearchProductName" value="@Model.SearchProductName" style="width: 200px;">
        <input class="form-control mr-2" type="number" placeholder="Quantity" aria-label="Quantity" name="SearchQuantity" value="@Model.SearchQuantity" style="width: 200px;">
        <input class="form-control mr-2" type="number" placeholder="Price" aria-label="Price" name="SearchPrice" value="@Model.SearchPrice" style="width: 200px;">
        <input class="form-control mr-2" type="number" placeholder="Discount" aria-label="Discount" name="SearchDiscount" value="@Model.SearchDiscount" style="width: 200px;">
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderItem[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderItem[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderItem[0].Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderItem[0].Tax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderItem[0].TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderItem[0].OrderItemCreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderItem[0].OrderItemUpdatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderItem[0].Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderItem[0].Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderItem) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderItemCreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderItemUpdatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.OrderItemId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.OrderItemId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.OrderItemId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item @(Model.PageNumber <= 1 ? "disabled" : "")">
            <a class="page-link" asp-page="./Index" asp-route-PageNumber="@(Model.PageNumber - 1)" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @for (var i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                <a class="page-link" asp-page="./Index" asp-route-PageNumber="@i">@i</a>
            </li>
        }
        <li class="page-item @(Model.PageNumber >= Model.TotalPages ? "disabled" : "")">
            <a class="page-link" asp-page="./Index" asp-route-PageNumber="@(Model.PageNumber + 1)" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
