@page
@model MilkBabyRazorWebApp.Pages.ProductModel
@{
    ViewData["Title"] = "Product";
    var productList = Model.Products;
}

<div class="text-center">
    <h1 class="display-6">Quản lý sản phẩm</h1>
</div>

<div class="row">
    <div class="col-md-12 text-end">
        <button type="button" class="btn btn-primary" onclick="showAddProductModal();">
            Thêm
        </button>
    </div>
</div>

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th class="card-title text-center">Id</th>
            <th class="card-title text-center">Name</th>
            <th class="card-title text-center">Description</th>
            <th class="card-title text-center">Price</th>
            <th class="card-title text-center">Quantity</th>
            <th class="card-title text-center">Category</th>
            <th class="card-title text-center">Image</th>
            <th class="card-title text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in productList)
        {
            <tr>
                <td class="text-center">@product.ProductId</td>
                <td class="text-center">@product.ProductName</td>
                <td class="text-center">@product.ProductDescription</td>
                <td class="text-center">@product.ProductPrice</td>
                <td class="text-center">@product.ProductQuantity</td>
                <td class="text-center">@product.ProductCategory</td>
                <td class="text-center">@product.ProductImg</td>
                <td class="text-center">
                    <button type="button" class="btn btn-danger" onclick="remove('@product.ProductId')">Remove</button>
                    <button type="button" class="btn btn-danger" onclick="edit('@product.ProductId')">Edit</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Add Product Modal -->
<div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-page-handler="Add">
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h5 class="modal-title" id="productModalLabel">Thêm Sản Phẩm</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="productName">Tên</label>
                                <input asp-for="Product.ProductName" class="form-control" id="productName" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="productDescription">Mô tả</label>
                                <input asp-for="Product.ProductDescription" class="form-control" id="productDescription" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="productPrice">Giá</label>
                                <input asp-for="Product.ProductPrice" class="form-control" id="productPrice" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="productQuantity">Số lượng</label>
                                <input asp-for="Product.ProductQuantity" class="form-control" id="productQuantity" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="productCategory">Danh mục</label>
                                <input asp-for="Product.ProductCategory" class="form-control" id="productCategory" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="productImg">Hình ảnh</label>
                                <input asp-for="Product.ProductImg" class="form-control" id="productImg" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label>@Model.Message</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Lưu</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Remove Product Modal -->
<div class="modal fade" id="RemoveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-page-handler="Delete">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="Product.ProductId" id="ProductIdRemove" />

                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Remove Confirm</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this product?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Yes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Edit Product Modal -->
<div class="modal fade" id="EditModal" tabindex="-1" aria-labelledby="ProductModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-page-handler="Update">
                @Html.AntiForgeryToken()
                <input asp-for="Product.ProductId" type="hidden" id="ProductId" />

                <div class="modal-header">
                    <h5 class="modal-title" id="ProductModalLabel">Edit Product</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="ProductId">ProductId</label>
                                    <input id="ProductId" class="form-control" readonly />
                                </div>
                                <div class="col-md-6">
                                    <label for="ProductName">Tên</label>
                                    <input id="ProductName" asp-for="Product.ProductName" class="form-control" />
                                    <span asp-validation-for="Product.ProductName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="ProductDescription">Mô tả</label>
                                    <input id="ProductDescription" asp-for="Product.ProductDescription" class="form-control" />
                                    <span asp-validation-for="Product.ProductDescription" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <label for="ProductPrice">Giá</label>
                                    <input id="ProductPrice" asp-for="Product.ProductPrice" class="form-control" />
                                    <span asp-validation-for="Product.ProductPrice" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="ProductQuantity">Số lượng</label>
                                    <input id="ProductQuantity" asp-for="Product.ProductQuantity" class="form-control" />
                                    <span asp-validation-for="Product.ProductQuantity" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <label for="ProductCategory">Danh mục</label>
                                    <input id="ProductCategory" asp-for="Product.ProductCategory" class="form-control" />
                                    <span asp-validation-for="Product.ProductCategory" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <label for="ProductImg">Hình ảnh</label>
                                    <input id="ProductImg" asp-for="Product.ProductImg" class="form-control" />
                                    <span asp-validation-for="Product.ProductImg" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        function showAddProductModal() {
            $('#addProductModal').modal('show');
        }

        function remove(productId) {
            document.getElementById('ProductIdRemove').value = productId;
            $('#RemoveModal').modal('show');
        }

        function edit(productId) {
            // Gui yeu cau Ajax de lay thong tin Product
            $.ajax({
                url: '@Url.Page("Product", "Update")',
                type: 'GET',
                data: { productId: productId },
                success: function (data) {
                    // Hien thi cac gia tri cua Product trong Modal
                    $('#EditModal #ProductId').val(data.productId);
                    $('#EditModal #ProductName').val(data.productName);
                    $('#EditModal #ProductDescription').val(data.productDescription);
                    $('#EditModal #ProductPrice').val(data.productPrice);
                    $('#EditModal #ProductQuantity').val(data.productQuantity);
                    $('#EditModal #ProductCategory').val(data.productCategory);
                    $('#EditModal #ProductImg').val(data.productImg);

                    // Open Modal
                    $('#EditModal').modal('show');
                }
            });
        }
    </script>
}
