@page
@model MilkBabyRazorWebApp.Pages.VendorModel
@{
    ViewData["Title"] = "Vendor";
    var vendorList = Model.Vendors;
}

<div class="text-center">
    <h1 class="display-6">Quản lý nhà cung cấp</h1>
</div>

<div class="row">
    <div class="col-md-12 text-end">
        <button type="button" class="btn btn-primary" onclick="showAddVendorModal();">
            Thêm
        </button>
    </div>
</div>

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th class="card-title text-center">Id</th>
            <th class="card-title text-center">Name</th>
            <th class="card-title text-center">Address</th>
            <th class="card-title text-center">Phone</th>
            <th class="card-title text-center">Email</th>
            <th class="card-title text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vendor in vendorList)
        {
            <tr>
                <td class="text-center">@vendor.VendorId</td>
                <td class="text-center">@vendor.VendorName</td>
                <td class="text-center">@vendor.VendorAddress</td>
                <td class="text-center">@vendor.VendorPhone</td>
                <td class="text-center">@vendor.VendorEmail</td>
                <td class="text-center">
                    <button type="button" class="btn btn-danger" onclick="remove('@vendor.VendorId')">Remove</button>
                    <button type="button" class="btn btn-danger" onclick="edit('@vendor.VendorId')">Edit</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Add Vendor Modal -->
<div class="modal fade" id="addVendorModal" tabindex="-1" aria-labelledby="addVendorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-page-handler="Add">
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h5 class="modal-title" id="vendorModalLabel">Thêm Nhà Cung Cấp</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="vendorName">Tên</label>
                                <input asp-for="Vendor.VendorName" class="form-control" id="vendorName" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="vendorAddress">Địa chỉ</label>
                                <input asp-for="Vendor.VendorAddress" class="form-control" id="vendorAddress" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="vendorPhone">Số điện thoại</label>
                                <input asp-for="Vendor.VendorPhone" class="form-control" id="vendorPhone" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="vendorEmail">Email</label>
                                <input asp-for="Vendor.VendorEmail" class="form-control" id="vendorEmail" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label>@Model.Message</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Lưu</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Remove Vendor Modal -->
<div class="modal fade" id="RemoveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-page-handler="Delete">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="Vendor.VendorId" id="VendorIdRemove" />

                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Remove Confirm</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this vendor?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Yes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Edit Vendor Modal -->
<div class="modal fade" id="EditModal" tabindex="-1" aria-labelledby="VendorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-page-handler="Update">
                @Html.AntiForgeryToken()
                <input asp-for="Vendor.VendorId" type="hidden" id="VendorId" />

                <div class="modal-header">
                    <h5 class="modal-title" id="VendorModalLabel">Edit Vendor</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="VendorId">VendorId</label>
                                    <input id="VendorId" class="form-control" readonly />
                                </div>
                                <div class="col-md-6">
                                    <label for="VendorName">Tên</label>
                                    <input id="VendorName" asp-for="Vendor.VendorName" class="form-control" />
                                    <span asp-validation-for="Vendor.VendorName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="VendorAddress">Địa chỉ</label>
                                    <input id="VendorAddress" asp-for="Vendor.VendorAddress" class="form-control" />
                                    <span asp-validation-for="Vendor.VendorAddress" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <label for="VendorPhone">Số điện thoại</label>
                                    <input id="VendorPhone" asp-for="Vendor.VendorPhone" class="form-control" />
                                    <span asp-validation-for="Vendor.VendorPhone" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="VendorEmail">Email</label>
                                    <input id="VendorEmail" asp-for="Vendor.VendorEmail" class="form-control" />
                                    <span asp-validation-for="Vendor.VendorEmail" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        function showAddVendorModal() {
            $('#addVendorModal').modal('show');
        }

        function remove(vendorId) {
            document.getElementById('VendorIdRemove').value = vendorId;
            $('#RemoveModal').modal('show');
        }

        function edit(vendorId) {
            // Gui yeu cau Ajax de lay thong tin Vendor
            $.ajax({
                url: '@Url.Page("Vendor", "Update")',
                type: 'GET',
                data: { vendorId: vendorId },
                success: function (data) {
                    // Hien thi cac gia tri cua Vendor trong Modal
                    $('#EditModal #VendorId').val(data.vendorId);
                    $('#EditModal #VendorName').val(data.vendorName);
                    $('#EditModal #VendorAddress').val(data.vendorAddress);
                    $('#EditModal #VendorPhone').val(data.vendorPhone);
                    $('#EditModal #VendorEmail').val(data.vendorEmail);

                    // Open Modal
                    $('#EditModal').modal('show');
                }
            });
        }
    </script>
}
