@page
@model MilkBabyRazorWebApp.Pages.ReviewPage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Review</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Review.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Review.Rating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Review.ReviewText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Review.ReviewText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Review.ReviewDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Review.ReviewDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Review.ReviewImg)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Review.ReviewImg)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Review.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Review.Customer.CustomerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Review.Product)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Review.Product.ProductName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Review.ReviewId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
